{{!< layout}}

{{#extend "pageName"}}Find Employees{{/extend}}

{{#extend "customCSS"}}
    <link rel="stylesheet" href="/css/find.css">
{{/extend}}

{{#extend "customJS"}}
<script>
    function initiateSearch() {
        var keywords = document.getElementById("keywords").value;
        var category = document.getElementById("category").value;
        var city = document.getElementById("city").value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                document.getElementById("resultData").innerHTML = xhr.responseText;
            }
        };
        xhr.send(JSON.stringify({
            keywords: keywords,
            city: city,
            category: category,
        }));
    }
</script>
{{/extend}}

{{#extend "heroTitle"}}Find Employees{{/extend}}

{{#extend "breadcrumbs"}}
    <a href="">Home</a> / Find Employees
{{/extend}}

{{#extend "body"}}
<section class="search-section">
    <div class="container">
        <div class="form">
            <div>
                <input type="text" placeholder="Keywords" id="keywords">
                <select name="" id="city">
                    <option value="any">Any Location</option>
                    {{#each cities}}
                    <option value="{{this.name}}">{{{this.name}}}</option>
                    {{/each}}
                </select>
                <select name="" id="category">
                    <option value="any">Any Category</option>
                    {{#each categories}}
                    <option value="{{this.name}}">{{{this.name}}}</option>
                    {{/each}}
                </select>
            </div>

        </div>
        <a href="" class="btn btn-secondary" onclick="initiateSearch();return false;">FIND EMPs</a>
    </div>
</section>

<section class="section">
    <div class="content container table-wrapper" id="resultData">

    </div>
</section>
{{/extend}}